<link rel="stylesheet" href="../NewsBlock/CSS/NewsBlockCSS.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>      
    </div>
</div>
  

<!-- News Blocks -->
<div id="NewsBlockPlacement" class="card" style="width: 18rem;">
    <!-- <object id="NewsBlocks" type="text/html" data="../Main/Components/NewsBlock/NewsBlock.html"></object> -->
    <div class="card-body">
        <div class="BasicBlock">
        <!-- Main Title  -->
        <div class="card-title">
            <h1 class="Title" style="font-size:1.8rem">Teste</h1>    
        </div>        
        <div id="SourceInfo" style="display: -webkit-box;">
            <!-- Source  -->
            <h2 class="Source" style="font-size:1.2rem">Unknown</h2>
            <div class="Limits" style="width: 50px;"></div>
            <!-- Author  -->
            <h2 class="Author" style="font-size:1.2rem">Aaron</h2>
        </div>    
        <!-- Date  -->
        <h3 class="Date" style="font-size:1.2rem">21/07/2022</h3>
        <!-- Content  -->
        <div class="card-text">
            <p class="Content" style="font-size:1.3rem">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>  
        </div>
    </div>  
</div>    