#MainNavigationBar {
    width: -webkit-fill-available;
}

#MainNewsBlockPlacement{
    width: -webkit-fill-available;
}

#LoadNewsButton{
    width: -webkit-fill-available;
}

#NewsBlockPlacement{ 
    display: contents;
    min-inline-size: fit-content;
}

.BasicBlock{    
    text-align: left;    
    display: contents;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-bottom-style: outset;
}

#MainSource {
    font-size: -webkit-xxx-large;
    display: contents;
}

#liveAlertBtn{
    background-color: green;
    background-color: rgb(118, 174, 35);
    border-color: white;    
    animation-name: PulseLive;
    animation-duration: 2s;        
    animation-iteration-count: infinite;
}
@keyframes PulseLive {
    0% {
      background-color: rgb(81, 136, 95);
    }
    25% {
        background-color: rgb(79, 156, 99);
      }
    50% {
        background-color: rgb(80, 163, 101);
    }
    75% {
        background-color: rgb(70, 197, 102);
      }
    100% {
      background-color: rgb(7, 199, 71);
    }
}

#LoadNewsButton{
    background-color: rgb(240, 33, 33);
    border-color: white;    
    animation-name: PulseNews;
    animation-duration: 2s;        
    animation-iteration-count: infinite;
}
/* @keyframes PulseNews {
    0% {
      background-color: rgb(136, 81, 81);
    }
    25% {
        background-color: rgb(180, 83, 83);
      }
    50% {
        background-color: rgb(212, 63, 63);
    }
    75% {
        background-color: rgb(228, 53, 53);
      }
    100% {        
    }
} */

#OpenNewsButton{
    background-color: rgb(241, 214, 4);
    border-color: white;        
    color: black;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border: outset;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba(0,0,0,.125);
    border-radius: .25rem;
}

html{
    width: fit-content;
}

body{
    width: fit-content;
}